<div id="home" class="row">
  <div class="span12">
    <h2>Welcome to the {{ title }} page!</h2>

    <div class="alert-box span12">{{ message }}</div>

    <ul class="span12">
      <li>
        <img class="th span5" src="img/demo1.jpg" shows-message-when-hovered message="Im the first house.">
      </li>
      <li>
        <img class="th span5" src="img/demo2.jpg" shows-message-when-hovered message="Im the second house.">
      </li>
    </ul>

    <div class="row span12">
      <div class="span12 columns">
        <button ng-click="logout()" class="button large expand radius span10">Log Out</button>
      </div>
    </div>
  </div>
</div>
